<div class="row">
	<div class="col-md-12">
		<div class="lime-center lime-block-content-space">
			<h3>Our Expertise.</h3>
		</div>
		<div class="lime-content-text lime-width-adjustment lime-center lime-space-t-p-40">
			<div class="lime-space-b-m-20 lime-expert-block">
				<div class="col-md-4 col-sm-4 col-xs-6">
					<img src="images/etherium.svg" alt="">
					<div class="lime-center">
						Ethereum
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-6">
					<img src="images/ipfs.svg" alt="">
					<div class="lime-center">
						IPFS
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-6">
					<img src="images/chain.svg" alt="">
					<div class="lime-center">
						Chain.com
					</div>
				</div>
			</div>

			<div class="lime-space-b-m-20 lime-expert-block">
				<div class="col-md-4 col-sm-4 col-xs-6">
					<img src="images/multichain.svg" alt="">
					<div class="lime-center">
						Multichain
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-6">
					<img src="images/bw-neo.svg" alt="">
					<div class="lime-center">
						NEO
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-6">
					<img src="images/bw-bitcoin.svg" alt="">
					<div class="lime-center">
						Bitcoin
					</div>
				</div>
			</div>	

			<div class="lime-space-b-m-20 lime-expert-block">
				<div class="col-md-4 col-sm-4 col-xs-6">
					<img src="images/bw-qtum.svg" alt="">
					<div class="lime-center">
						QTUM
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-6">
					<img src="images/bw-tier.svg" alt="">
					<div class="lime-center">
						Tierion
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-6">
					<img src="images/bw-hyperledger.svg" alt="">
					<div class="lime-center">
						Hyperledger
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>