<div class="row">
	<div class="col-md-12">
		<div class="lime-center">
			<div class="lime-slogan lime-slogan lime-space-mob-b-m-20">
				What they say about us
			</div>
			<div class="lime-client-wrapper lime-space-t-m-40 lime-partners">
				<ul class="lime-inline">
					<li class="lime-list">
						<a href="http://www.bernama.com/en/business/news.php?id=1412141">
						<img src="images/logo-bernama.png" alt="">
					</a>
					</li>
					<li class="lime-list">
						<a href="https://www.digitalnewsasia.com/digital-economy/codeathon-participants-track-bad-guys-team-work-motivation">
						<img src="images/logo-dna.png" alt="">
						</a>
					</li>
					<li class="lime-list">
						<a href=" https://www.techinasia.com/talk/3-blockchain-ecosystem-malaysia">
						<img src="images/logo-tech.png" alt="">
						</a>
					</li>
					<li class="lime-list">
						<a href="http://bigappchallenge.mdec.my/advoc8-hack/">
						<img src="images/logo-bigapp.png" alt="">
						</a>
					</li>
					<li class="lime-list">
						<a href="https://liveatpc.com/coding-money-international-fiu-codeathon-2017/">
						<img src="images/logo-pc.png" alt="">
				</a>
					</li>
					<li class="lime-list">
						<a href="http://www.austrac.gov.au/media/media-releases/joint-media-release-international-financial-intelligence-unit-codeathon-2017">
						<img src="images/logo-austrac.png" alt="">
						</a>
					</li>
					<li class="lime-list">
						<a href="http://www.bnm.gov.my/index.php?ch=bm_press&pg=bm_press&ac=4548&lang=bm">
						<img src="images/logo-bnm.png" alt="">
						</a>
					</li>
				</ul>
			</div>
		</div>	
	</div>
</div>