<div class="row">
	<div class="col-md-12">
		<div class="lime-center lime-space-t-m-40">
			<hr class="lime-divider">
			<h3>
				<span class="lime-secondary-color">Blockchain</span> Use Cases
			</h3>
			<p class="">
				Blockchain technology can be used across multiple industries and has far-reaching applicability than just Bitcoins or cryptocurrency trading. We can transition you through blockchain adoption, regardless of your industry.
			</p>
		</div>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<ul class="lime-blockchain-sectors lime-space-b-m-60">
			<li>
				<i class="fa fa-globe" aria-hidden="true"></i>
				Government
			</li>
			<li>
				<i class="fa fa-university" aria-hidden="true"></i>
				Banking
			</li>
			<li>
				<i class="fa fa-graduation-cap" aria-hidden="true"></i>
				Education
			</li>
			<li>
				<i class="fa fa-file-o" aria-hidden="true"></i>
				Insurance
			</li>
			<li>
				<i class="fa fa-money" aria-hidden="true"></i>
				Money Transfer
			</li>
		</ul>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<ul class="lime-blockchain-sectors">
			<li>
				<i class="fa fa-plus-circle" aria-hidden="true"></i>
				Healthcare
			</li>
			<li>
				<i class="fa fa-briefcase" aria-hidden="true"></i>
				Business
			</li>
			<li>
				<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
				Energy
			</li>
			<li>
				<i class="fa fa-plane" aria-hidden="true"></i>
				Transportation
			</li>
			<li>
				<i class="fa fa-music" aria-hidden="true"></i>
				Online Music
			</li>
		</ul>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<ul class="lime-blockchain-sectors">
			<li>
				<i class="fa fa-leaf" aria-hidden="true"></i>
				Agriculture
			</li>
			<li>
				<i class="fa fa-calendar" aria-hidden="true"></i>
				Logistics
			</li>
			<li>
				<i class="fa fa-heart" aria-hidden="true"></i>
				Charity
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				Cybersecurity
			</li>
			<li>
				<i class="fa fa-users" aria-hidden="true"></i>
				HR
			</li>
		</ul>
	</div>

	<div class="col-md-3 col-sm-4 col-xs-6">
		<ul class="lime-blockchain-sectors">
			<li>
				<img src="images/graduation.svg" alt="">
				Inheritance
			</li>
			<li>
				<i class="fa fa-spinner" aria-hidden="true"></i>
				IOT
			</li>
			<li>
				<img src="images/graduation.svg" alt="">
				Law
			</li>
			<li>
				<i class="fa fa-building-o" aria-hidden="true"></i>
				Real Estate
			</li>
			<li>
				<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				Retail
			</li3
		</ul>
	</div>
</div>