<div class="row">
	<div class="col-md-12">
		<div class="lime-center lime-space-b-p-40 lime-space-t-p-40 lime-contact-wrapper">
			<h3>Want to work together?</h3>
			<span>For collaboration and enquiries, reach out to us at</span>
			<h3 class="lime-space-t-p-10"><span class="lime-secondary-color">hello</span>@blocklime.com</h3>
			<ul>
				<li class="list-item lime-social">

		     				<a href="//t.me/blocklime" target="_blank">
		     					<i class="fa fa-telegram" aria-hidden="true"></i>
		     				</a>
		     			</li>
			</ul>
			<h5 class="lime-space-t-p-10">@blocklime</h5>
			
		</div>

	</div>
	
</div>