            <div class="col-md-6 lime-slider-right">
              <div class="lime-paralax-index">
             {{!--    <div class="lime-slider-text lime-slider-text-right">
                  Blocklime has big plans. Stay connected and we’ll send you the deets when we are ready! (Don’t worry, we won’t spam you!)
                </div> --}}
                   <div class="lime-slider-text lime-slider-text-right">
                    <span class="bg-white">
                  Blocklime has big plans. Stay connected and we’ll send you the deets when we are ready! Write to <span class="lime-secondary-color">hello@blocklime.com</span>
                </div>
{{!--                 <form action="http://hackinout.us15.list-manage.com/subscribe/post-json?u=e44c1f194bec93e238615469e&amp;id=fa63cb4ac7&c=?"
                method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
                  <div class="form-group">
                    <input type="email" class="form-control transparent-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  </div>
                </form> --}}
             
                {{!-- <div class="center">
                  <a href="" class="lime-btn-default btn-button">Yes, keep me up to date!</a>
                </div>  --}}
                <div class="booking-btn lime-right lime-space-t-m-20">
                  <span>Book a meeting</span> 
                  <a href="https://calendly.com/blocklime/30min/03-06-2018"><i class="calender fa fa-calendar" aria-hidden="true"></i></a>
                  
                </div>
              </div>  
            </div>