<div class="col-md-6 lime-slider-left">
  <div class="lime-slider-text lime-slider-text-left pull-right">
    “We make Blockchain easy peasy lemon squeezy!”
    <div class="font-small lime-lato-italic">-Founders of Blocklime</div>
  </div>
</div>
            