<div class="row">
	<div class="col-md-12">
		<div id="scroll" class="lime-center lime-block-content-space">
			<h3>
				What is <span class="lime-secondary-color">BlockLime</span>?
			</h3>
			<p class="lime-content-text">
				We’re people, just like you! We call ourselves Blockchain Enablers, specialized in web and blockchain. At Blocklime, we aim to provide consultancy and development services to our local and global clientele. We have also launched Blockchain Acadamy focusing on building Blockchain Developers and ecosystem enablers.
			</p>
			<a  class="lime-btn-default lime-btn-default-green" href="#contact">Contact Us</a>
		</div>	
	</div>
</div>