.lime{
	&-content-img-wrapper{
		img{
			height: 60px;
	    	margin-left: 30px;
	    	margin-bottom: 10px;
	    	@media screen and (max-width: $screen-md-max) {
	    		height: 40px;
	    	}
		}
	}
	&-block-content-space{
		@media screen and (max-width: $screen-md-max) {
			margin:40px 0 0;
		}
	}
}