<div class="row">
	<div class="col-md-2">
		<div class="center-tab">
			<img class="lime-acadamy-logo" src="images/logo-academy.svg" alt="">
		</div>
	</div>
	<div class="col-md-10">
		<a href="academy.html">
			<div class="lime-slogan lime-slogan lime-space-t-m-20">
			We work hard to bring you the best training in Blockchain and Distributed Ledger Technology.	
			</div>
			<span>
				Blocklime Academy has successfully completed the first <span class="lime-secondary-color">Blockchain Bootcamp </span> and will be building the next series of workshops and bootcamps in upcoming months.
			</span>
		</a>	
	</div>
</div>