.lime-btn{
	display: inline-block;
	line-height: 1.428571;
	touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    min-width: 260px;

	&-default{
	@include bc-button($lime-spacer-5 $lime-spacer-40, $lime-white, $font-size-small, transparent, 50px);
	border: 1px solid $lime-secondary-color;
	&-green{
		color: $lime-secondary-color;
		&:hover{
			color: $lime-white;
		}
	}
	
	&:hover, &:active{
		@include two-gradient-l-r(#B4EC51, #559321);
		
	}

	}

	&-primary{
	@include bc-button(20px, white, 20x, orange, 5px);
	}

	&-secondory{
	@include bc-button($lime-spacer-5 $lime-spacer-40, $lime-white, $font-size-small, inherit, 50px);
	@include two-gradient-l-r($lime-blue-10, $lime-blue-20);
	}

	&-shadow{
		@include bl-shadow(1px, 3px, 4px, 0px, 0.22);
	}

}
