<footer class="clearfix lime-main-footer-wrapper lime-center">
	<div class="bc-footer-wrapper">	
		<div class="">ⒸRegister</div>
		Blocklime Technologies Sdn. Bhd.<br>(1260889-P)
		Malaysian Global Innovation & Creativity Centre 3730, Persiaran Apec,<br> Cyberjaya, 63000 Cyberjaya, Selangor</span>
	</div>
</footer>