<footer class="clearfix lime-main-footer-wrapper lime-center">
	<div class="bc-footer-wrapper lime-main-footer-wrapper-a">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<span class="lime-footer-header">
						Follow us to know of future events! 
					</span>
					<ul>
					<li class="list-item lime-social">
	     				{{> social-icons}}
	     			</li>
	     		</ul>
					</ul>
				</div>
				<dic class="col-md-5">
					<span class="lime-footer-header">
						hello@blocklime.com
					</span>
					<p>
						Let us get in touch with you with latest updates and offers on Blocklime and Blocklime Academy.
					</p>
				</dic>
				<dic class="col-md-2">
					<ul class="lime-space-mob-l-m-20">
						{{> links}}
					</ul>
				</dic>
			</div>
		</div>
	</div>	
	<div class="bc-footer-wrapper lime-main-footer-wrapper-b">	
		<div class="">ⒸRegister</div>
		Blocklime Technologies Sdn. Bhd.<br>(1260889-P)
		Malaysian Global Innovation & Creativity Centre 3730, Persiaran Apec,<br> Cyberjaya, 63000 Cyberjaya, Selangor</span>
	</div>
</footer>