<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <meta name="description" content="">
    <meta name="keywords" content="Blockchain, what is block chain, what is blockchain technology, blockchain technology in banking, blockchain technology Malaysia, blockchain database, blockchain tutorial, blockchain asia, blockchain south east asia, blockchain video, blockchain academy, blockchain company malaysia, understanding blockchain technology, how does the blockchain work, how blockchain works">


    <!-- Favicons -->
    <!--[if IE]><link rel="shortcut icon" href="../images/favbtm.png"><![endif]-->
    <link rel="shortcut icon" href="../images/favicon.png">
    <link rel="apple-touch-icon" href="../images/favicon.png" sizes="120x120">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/main.css?v=1.1">

    <!-- aos-js -->
     <script src="js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="js/libs/aos.min.js"></script>

     <script>
     
    </script>
  </head>
