<header class="header">
	<div class="container">
		<div class="row">
				<div class="col-md-3 col-sm-2 col-xs-2">
			<div class="logo-wrapper">
				<a href="index.html">
					<span class="logo"></span>				
				</a>
			</div>
		</div>
		<div class="col-sm-10 hidden-md hidden-lg col-xs-10">
			<div id="mobile-menu" class="lime-mobile-nav pull-right burger-menu">
				<div class="burger"></div> 
			</div>
		</div>
		<hr class="lime-border-nav">
		<div class="col-md-8 col-sm-12 col-xs-12">
			<nav id="main-nav" class="lime-menu">
	     		<ul id="lime-top-menu" class="inline-list">
	     			{{> links}}
	     			<li class="list-item lime-social">
	     				{{> social-icons}}
	     			</li>
	     		</ul>
	     	</nav>  
		</div> 
	</div>
	</div>
</header>
