<header class="header">
	<div class="container">
		<div class="row">
				<div class="col-md-3 col-sm-2 col-xs-2">
			<div class="logo-wrapper">
				<a href="index.html">
					<span class="logo"></span>				
				</a>
			</div>
		</div>
		<div class="col-sm-10 hidden-md hidden-lg col-xs-10">
			<div id="mobile-menu" class="lime-mobile-nav pull-right burger-menu">
				<div class="burger"></div> 
			</div>
		</div>
		<hr class="lime-border-nav">
		<div class="col-md-8 col-sm-12 col-xs-12">
			<nav id="main-nav" class="lime-menu">
	     		<ul id="lime-top-menu" class="inline-list">
	     			<li class="list-item">
	     				<a href="{{#if homepage}}#lime-main-wrap{{else}}index.html{{/if}}"><span data-hover="HOME">Home</span></a>
	     			</li>
	     			<li class="list-item">
	     				<a href="{{#if homepage}}#about{{else}}index.html#about{{/if}}"><span data-hover="ABOUT US">About Us</span></a>
	     			</li>
	     			<li class="list-item">
	     				<a href="academy.html"><span data-hover="ACADEMY">Academy</span></a>
	     			</li>
	     			<li class="list-item">
	     				<a href="{{#if homepage}}#contact{{else}}index.html#contact{{/if}}"><span data-hover="CONTACT US">Contact Us</span></a>
	     			</li>
	     			<li class="list-item">
	     				<a href="{{#if homepage}}#career{{else}}index.html#career{{/if}}"><span data-hover="CAREER">Career</span></a>
	     			</li>
	     			<li class="list-item lime-social">
	     				<a href="//www.facebook.com/blocklime" target="_blank">
	     					<i class="fa fa-facebook-official" aria-hidden="true"></i>
	     				</a>

	     				<a href="//www.linkedin.com/company/blocklime/" target="_blank">
	     					<i class="fa fa-linkedin-square" aria-hidden="true"></i>
	     				</a>

	     				<a href="//www.instagram.com/blocklimetech/" target="_blank">
	     					<i class="fa fa-instagram" aria-hidden="true"></i>
	     				</a>
	     				<a href="//t.me/blocklime" target="_blank">
	     					<i class="fa fa-telegram" aria-hidden="true"></i>
	     				</a>
	     			</li>
	     		</ul>
	     	</nav>  
		</div> 
	</div>
	</div>
</header>
