{{> head title='Blocklime Academy'}}
 <body>
  	 {{> header academy=true}}
  	 <main class="lime-academy">
  	 	<div class="container">
  	 		<div class="row">
  	 			<div class="col-md-12">
  	 				<div class="center lime-space-t-m-50 lime-space-mob-t-m-90">
  	 					<img class="lime-acadamy-logo" src="images/logo-academy.svg" alt="">
  	 					<h3 class="lime-h3 lime-space-t-m-20">Bringing you the best hands-on training</h3>
  	 					<p class="lime-content-text-academy">
            				A valuable year is saved by gaining a solid education at Blocklime Academy. No spoon-feeding. No shortcuts. We trim the fat for you and offer practical specialised training on Blockchain and Distributed Ledger Technology. We also know how to have fun while we’re at it.
            			</p>
            			<a class="lime-btn-default lime-btn-default-green" href="#contact">Contact Us</a>
  	 				</div>
  	 			</div>
  	 		</div>
  	 	</div>
  	 	<div class="lime-relative">
	  	 	<div class="lime-block-wrapper">
		  	</div> 	
		  	<div class="lime-block-img">
		  		<div class="center">
		  	 		<div class="lime-block-wrapper-img lime-space-t-m-40">
		            	<img src="images/academy.svg" alt="">
		            </div>
		  	 	</div>
		  	</div>
  	 	</div>  	
  	 	<div class="container">
  	 		<div class="row">
  	 			<div class="col-md-6">
  	 				<h3 class="lime-slogan lime-slogan lime-space-t-m-20 lime-space-mob-t-m-20">
  	 					Blockchain. A great start.
  	 				</h3>
  	 				<p>
  	 					The blockchain technology is incredibly fascinating. It won’t be far-fetched to think of a future which will be built entirely on it. So, what do you need to learn in order to start developing on the blockchain? Which languages will give you the edge? At Blocklime Academy, you might just find the answers you are looking for.
  	 				</p>
  	 			</div>
  	 			<div class="col-md-6">
  	 				<h3 class="lime-slogan lime-slogan lime-space-t-m-20 lime-space-mob-t-m-20">
  	 					Getting your hands dirty.
  	 				</h3>
  	 				<p>
  	 					Learning to code means getting your hands dirty. There’s no way around it. We make sure you learn as you go.
  	 				</p>
  	 			</div>
  	 		</div>
  	 	</div>
  	 	<div class="lime-shadow-wrapper lime-space-t-m-40">
  	 		<hr class="lime-divider">
  	 		<div class="container">
	            <div class="row">
	            	<div class="col-md-4">
	            		image here
	            	</div>
	            	<div class="col-md-8">
	            		<div id="scroll" class="lime-block-content-space lime-space-t-p-40 lime-space-b-p-40 lime-space-mob-b-p-40">
	            			<a class="lime-academy-default-link" href="achainbootcamp.html">
		            			<h3 class="lime-slogan lime-slogan ">
		            				Achain x Blocklime Blockchain Bootcamp 2.0
		            			</h3>
		            			<p class="">
		            				Blocklime has partnered up with Achain for our next Blockchain Bootcamp. This 3-days event would be held in Cyberjaya, Malaysia that includes Developer’s Training with Achain and Blocklime, Business Track session along with our expert panels and finally a Hackathon for all developers, techies, entreprenuers to join! For more information, <a class="lime-secondary-color" href="achainbootcamp.html">click here.</a>
		            			</p>
	            			</a>
	            		</div>	
	            	</div>
	            </div>
	        </div>    
            <hr class="lime-divider">
        </div>
  	 </main>
  	 <script src="js/bundle.js"></script>
  	 {{> footer}}
</body>