{{> head title='Blocklime Academy'}}
 <body>
  	 {{> header bootcamp=true}}
  	 <main class="">
  	 	<div class="lime-academy-bootcamp lime-bg-primary-color">
  	 		<div class="container">
	  	 		<div class="row">
	  	 			<div class="col-md-12">
	  	 				<div class="lime-academy-bootcamp-img-wrapper">
	  	 					<img class="" src="images/camp-title.svg" alt="">
	  	 				</div>
	  	 			</div>
	  	 		</div>
	  	 		<div class="row">
	  	 			<div class="col-md-12">
	  	 				<div class="lime-shadow-wrapper">
	  	 					<hr id="acadamy" class="lime-divider">
	  	 					<div class="lime-center lime-academy">
		  	 					<div class="lime-slogan lime-slogan lime-space-t-m-30 lime-content-text-academy">
		  	 						Are you ready for another Blockchain Bootcamp?
									Where? <span class="lime-secondary-color">MaGIC</span>
									When? <span class="lime-secondary-color">25th, 26th, 27th May</span>
		  	 					</div>
		  	 					<p class="lime-space-t-m-20 lime-space-b-m-30 lime-content-text-academy">
		  	 						Hear ye, hear ye! Blocklime has partnered up with Achain for our second Blockchain Bootcamp. This time, we offer experiences where you will be able to join us in our Developer’s Training, a Panel Discussion  and Blocklime’s first ever Hackathon.  To top it off,  we are having a party! So what are you waiting for?
		  	 					</p>
		  	 					<a class="lime-btn-default-white lime-btn-default-green lime-space-mob-b-m-90" href="#contact">Book your spot  today</a>
	  	 					</div>
	  	 					<hr id="acadamy" class="lime-divider">
	  	 				</div>
	  	 			</div>
	  	 		</div>
  	 		</div>
  	 	</div>
  	 	<div class="container">
  	 		<div class="row">
  	 			<div class="col-md-12">
  	 				<div class="lime-center lime-content-text-camp">
  	 					<div class="lime-slogan lime-slogan lime-space-t-m-20 lime-space-mob-b-m-20">
            			You choose how you would like to participate in our bootcamp.	
            			</div>
            			<div class="lime-btn-secondory lm-btn-width">
            				Dev Track
            			</div>
  	 				</div>
  	 			</div>
  	 		</div>
  	 	</div>
  	 	<div class="lime-shadow-wrapper lime-space-t-m-20 lime-space-mob-t-m-20">
  	 		<div class="container">
  	 			<div class="row">
  	 				<div class="col-md-12">
  	 					<h4 class="lime-h4 lime-space-t-m-30 lime-space-mob-t-m-30"><span>DEVELOPERS TRAINING</span></h4>
  	 					<p>
  	 						Maker’s Lab, MaGIC | 8 AM - 9 PM (Day 1) | 8 AM - 12 PM (Day 2)
  	 					</p>
  	 					<div class="lime-exception-heading">
  	 						LEARN. CODE. BUILD
  	 					</div>
  	 					<p class="lime-pre-wrap lime-space-l-p-30 lime-space-mob-l-p-0">
If you are a developer, software engineer or a coding whiz, we are looking for you! Blocklime offers you a morning workshop on Blockchain followed by an intense hands-on training  on a programming language GLUA and building your own smart contract specially brought to you by Achain.Seats are limited, so secure your spot today.

How it works:
Register and answer a few questions. We will select 100  individuals with the best answers to participate in the training for free. On day 2, do not miss a chance to join our Hackathon and show off your skills. You and your team could win amazing prizes, earn bragging rights and most importantly a step up in the Blockchain community. 
  	 					</p>
  	 				</div>
  	 			</div>
  	 			<div class="row">
  	 				<div class="lime-space-l-p-30 lime-space-mob-l-p-0">
  	 					<div class="lime-academy-slogan lime-space-mob-b-m-20">
            				Meet the Instructors
            			</div>
            			<div class="col-md-4">
            				<img src="images/img.jpg" alt="">
            			</div>
            			<div class="col-md-4">
            				<img src="images/img.jpg" alt="">
            			</div>
            			<div class="col-md-4">
            				<img src="images/img.jpg" alt="">
            			</div>
  	 				</div>
  	 			</div>
  	 		</div>
  	 	</div>

  	 	<div class="lime-shadow-wrapper lime-space-t-m-20 lime-space-mob-t-m-20">
  	 		<div class="container">
  	 			<div class="row">
  	 				<div class="col-md-12">
  	 					<h4 class="lime-h4 lime-space-t-m-30 lime-space-mob-t-m-30"><span>HACKATHON</span></h4>
  	 					<p>
  	 						Maker’s Lab, MaGIC | 12 PM (Day 2) - 3 PM (Day 3)
  	 					</p>
  	 					Hackathon is ****
  	 					<div class="lime-academy-slogan lime-space-t-m-30 lime-space-mob-b-m-20">
            				Meet the Mentors
            			</div>
  	 				</div>	
            			<div class="col-md-4">
            				<img src="images/img.jpg" alt="">
            			</div>
            			<div class="col-md-4">
            				<img src="images/img.jpg" alt="">
            			</div>
            			<div class="col-md-4">
            				<img src="images/img.jpg" alt="">
            			</div>
  	 			</div>	
  	 			<div class="row">
  	 				<div class="col-md-4">
  	 					<div class="lime-space-b-m-30">
  	 						<img class="img-responsive" src="images/party.svg" alt="">
  	 					</div>
  	 				</div>
  	 				<div class="col-md-8">
  	 					<div class="lime-academy-slogan lime-space-t-m-30 lime-space-mob-b-m-0 lime-space-mob-t-m-20">
            				Meet the Mentors
            			</div>
            			<p class="lime-space-l-p-20">
            				Our Blockparty is not just a party, it is a meet and greet oppurtunity to network with CEOs, entrepreneuers, developers and like minded individuals within the Blockchain community. Tickets are limited, so get yours today!
            			</p>
            			<a class="lime-btn-default lime-btn-default-green" href="#contact">Get your Blockparty invite</a>
  	 				</div>
  	 			</div>	
  	 		</div>			
  	 	</div>

  	 	<div class="lime-bg-gray lime-space-t-p-10 lime-space-mob-t-m-30">
  	 		<div class="container">
  	 			<div class="row">
  	 				<div class="col-md-6">
  	 					<div class="lime-academy-slogan lime-space-t-m-30 lime-space-mob-t-m-20">
            				Official Partners
            			</div>
  	 					
  	 				</div>
  	 				<div class="col-md-6">
  	 					<div class="lime-academy-slogan lime-space-t-m-30 lime-space-mob-t-m-20">
            				Event Partners
            			</div>
  	 					
  	 				</div>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </main>
  	<script src="js/bundle.js"></script>
  	{{> footer}}
</body>  	 	