<div class="row">
  <div class="col-md-12">
	 <div class="lime-center lime-intro-wrapper lime-space-b-m-40">
	  <div class="lime-font-top">What Can</div>
	   <div class="lime-font-mid">Block<span class="lime-secondary-color">lime</span></div>
	   <div class="lime-font-bottom">Do for you</div>
	</div>
  </div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="lime-content-img-wrapper">
			<img src="images/blockchain-icon.svg" alt="">
		</div>
		<h4>BLOCKCHAIN DEVELOPMENT & SUPPORT</h3>
		<p>
			Public, private and consortium Blockchains; our developers have you covered !
		</p>
	</div>

	
	<div class="col-md-5">
		<div class="lime-center hidden-sm hidden-xs lime-block-img-wrapper">
			<img class="" src="images/bl-icon-block.svg" alt="blocklime-icon">
		</div>	
	</div>
	<div class="col-md-3">
		<div class="lime-content-img-wrapper">
			<img src="images/education-icon.svg" alt="">
		</div>
			<h4>
			EDUCATION
			</h4>
			<p>
				Offline and online skilling sessions with 24x7 support. More power to you. (Good news, we have just launched Blocklime Academy! Look out for our upcoming bootcamps.{{!-- Find out more here) --}}
			</p>
	</div>
	<div class="col-md-3">
		<div class="lime-content-img-wrapper">
			<img src="images/consultancy-icon.svg" alt="">
		</div>
		<h4>
		CONSULTANCY
		</h4>
		<p>
			Have a business usecase? Get onboard and let our consultants move your idea forward.
		</p>
	</div>

	<div class="col-md-5">
		
	</div>

	<div class="col-md-3">
		<div class="lime-content-img-wrapper">
			<img src="images/event-icon.svg" alt="">
		</div>
		<h4>
		EVENT & MARKETING
		</h4>
		<p>
			Custom made events and marketing provisions. Taking your solution to the masses.
		</p>
	</div>

	


</div>